
body, html {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  padding-top: 0px;
  font-size: 18px;
}

input {
  height: 20px;
  width: 200px;
  margin: auto;
}

.container {
  padding: 20px;
  padding-top: 0px;
  text-align: center;
}

.header {
  background-color: #f5f5dc;
  padding-top: 0px;
}

.userlocation {
  background-color: #f5f5dc;
  width: 25%;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #00ccff;
  display: inline-block;
  padding-top: 5px;
  text-align: left;
  padding-left: 5px;
}

.addressbox {
  margin-top: 10px;

}

.button {
  background-color: #00ccff;
  border: 1px solid #0033cc;
  height: 20px;
  width: 115px;
  border-radius: 5px;
  /* margin-left: 75px; */
  font-size: 12px;
  margin-top: 10px;
}

.listings {
  background-color:  #f5f5dc;
  border: 1px solid #00ccff;
  width: 25%;
  height: 650px;
  box-sizing: border-box;
  /* float: left; */
  overflow: scroll;
  text-align: left;
  padding-left: 5px;

}

#map {
 height: 750px;
 width: 75%;
 float: right;

}
