
body, html {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  padding-top: 0px;
}

input {
  height: 20px;
  width: 180px;
  margin: auto;
}

.header {
  /*background-color: #00ccff;*/
  background-color: #f5f5dc;
  padding-top: 0px;
  /*padding-top: 5px;*/
  /*padding-bottom: 5px;*/
}

/*background-color: #f5f5dc*/

.userlocation {
  background-color: #f5f5dc;
  float: left;
  width: 25%;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #00ccff;
  display: inline-block;
}

.addressbox {
  text-align: center;

}

.button {
  background-color: #00ccff;
  border: 1px solid #0033cc;
  height: 20px;
  width: 115px;
  border-radius: 5px;
  text-align: center;
  margin-left: 75px;
  margin-top: 10px;
}

.listings {
background-color:  #f5f5dc;
  border: 1px solid #00ccff;
  width: 25%;
  height: 650px;
  box-sizing: border-box;
  float; left;
  overflow: scroll;

}

#map {
 height: 750px;
 width: 75%;
 float: right;

}
