
body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

input {
  height: 20px;
  width: 200px;
  margin: auto;
}

.container {
  padding: 20px;
  text-align: center;
}

.header {
  border-radius: 25px;
  background-color: #f5f5dc;
  padding-top: 0px;
}

.userlocation {
  border-radius: 25px;
  background-color: #f5f5dc;
  border: 1px solid #00ccff;
  padding: 10px;
}

.addressbox {
  padding: 10px;

}

.button {
  background-color: #00ccff;
  border: 1px solid #0033cc;
  border-radius: 5px;
  font-size: 20px;
}

.listings {
  border-radius: 25px;
  background-color:  #f5f5dc;
  border: 1px solid #00ccff;
  width: 25%;
  height: 650px;
  box-sizing: border-box;
  overflow: scroll;
  text-align: left;
  margin-top: 10px;

}

#map {
 border-radius: 25px; 
 height: 750px;
 width: 74%;
 float: right;
 margin-top: 10px;
 margin-left: 10px;
}
